.usestatehook {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  gap: 1rem;
  transition: 1s all ease;
}

.usestatehook > form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

