.usestatehook {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  gap: 1rem;
}

.usestatehook > button {
  width: 4rem;
  height: 4rem;
  font-size: 2rem;
}

.usestatehook > h1 {
  font-size: 8rem;
}