.todocardcomponent {
  background-color: white;
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
}

.todocardcomponent > div {
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.todocardcomponent  h2 {
  font-weight: var(--font-light);
  font-size: 1.8rem;
}

.todocardcomponent  p {
  font-weight: var(--font-medium);
}